@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
        height: 100vh;
        background-image: linear-gradient(to bottom, #64ae64, #6ab36a,#B484D9, #F596FA);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    background-color: #cee57c;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.215);
}

header > h1 {
    color: #2b4d1c;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2.3em;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.31);

    
}

header > p {
    color: #2b4d1c;
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: bolder;
    font-size: 1.3em;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.19);
}

main {
    min-width: 320px;
    max-width: 600px;
    height: 700px;
   
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    
}    

main img {
    width: 100%;
}

main#exame {
    margin: auto;
}

section.imagem {
    min-width: 600px;
    padding-left: 40px;
}

a {
    text-decoration: none;
    color: rgb(12, 50, 9);
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: azure;
}

p {
    text-align: center;
}