@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
        height: 100vh;
        background-image: linear-gradient(to bottom, #FFFBD2, #F5FA9B, #FAF554);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    background-color: #cee57c;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.215);
}

header > h1 {
    color: #2b4d1c;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2.3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.31);
    font-weight: bolder;

    
}

header > p {
    color: #2b4d1c;
    padding-top: 15px;
    padding-bottom: 30px;
    font-weight: bolder;
    font-size: 1.3em;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.19);
}

main {
    min-width: 300px;
    max-width: 600px;
    width: 84vw;
    background-color: rgba(240, 217, 217, 0.371);
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.342);
}    

main img {
    width: 100%;
    margin-top: 20px;
    padding-top: px;
    border-radius: 15px;
} 

a {
    padding-left: 5px;
    color: white;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: azure;
    box-shadow: 2px;
}

p {
    text-align: center;
    font-weight: bolder;
    padding: 20px;
}